{% extends 'base.html.twig' %}

{% block title %}Mon panier
{% endblock %}

{% block body %}

	<!-- ======= Panier Section ======= -->
	<main id="main">
		<section id="contact" class="contact m100">

			{% if cart|length > 0 %}
				<div class="container" data-aos="fade-up">

					<div class="section-title">
						<h2>Votre panier</h2>
						<p>Vos produits</p>
					</div>
				</div>
				<hr>

				<div class="container panier">
					<table class="table text-light">
						<thead>
							<tr>
								<th scope="col">Produits</th>
								<th scope="col"></th>
								<th scope="col">Quantité</th>
								<th scope="col">Prix</th>
								<th scope="col">Total</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							{% set total = null %}
							{% for product in cart %}

								<tr>
									<th>
										<img src="{{asset('uploads/' ~ product.product.image)}}" class="panier-img" alt="{{product.product.name}}">

									</th>
									<td>
										{{ product.product.name}}<br>
										<small>
											{{ product.product.description}}</small>
									</td>
									
									<td>
									<a href="{{ path('decrease_to_cart', {'id' : product.product.id}) }}">
									<img src="{{asset('assets/img/minus.png')}}" class="size-icon-14 mx-2" alt="moins">
									</a>
									{{ product.quantity}}
									<a href="{{ path('add_to_cart', {'id' : product.product.id}) }}">
									<img src="{{asset('assets/img/plusw.png')}}" class="size-icon-14 mx-2" alt="plus">
									</a>
									</td>
									

									<td>{{ (product.product.price / 100)|number_format(2, ',','.')}}€</td>
									<td>{{ ((product.product.price * product.quantity)/ 100)|number_format(2, ',','.')}}€</td>
									<td>
										<a href="{{ path('delete_to_cart', {'id' : product.product.id}) }}" class="">
											<img src="{{asset('assets/img/deletew.png')}}" class="size-icon-18" alt="delete">
										</a>
									</td>

								</tr>
								{% set total = total + (product.product.price * product.quantity) %}
							{% endfor %}

						</tbody>
					</table>
					<div class="row">
						<div class="d-flex justify-content-end mt-2 col-11 mr-2">
							<b>Nombre de produits:</b>
						</div>
						<div class="d-flex justify-content-end mt-2 col">{{ cart|length}}</div>
						<div class="d-flex justify-content-end mt-2 col-11 mr-2">
							<b>Total du panier:</b>
						</div>
						<div class="d-flex justify-content-end mt-2 col">{{ (total / 100)|number_format(2, ',','.')}}€</div>
						<div class="col-12 text-center">
							<a href="{{ path('order')}}" class="book-a-table-btn btn">Valider mon panier</a>
						</div>


					</div>
				</div>
			{% else %}
				<div class="container" data-aos="fade-up">

					<div class="section-title">
						<h2>Votre panier</h2>

					</div>
				</div>
				<hr>
				<div class="section-title">
					<div class="row mt-5">
						<h3 class="col-12 text-center">Votre panier est vide</h3>
					</div>
				</div>
	
			{% endif %}

		</section>
		<!-- End Panier Section -->

	</main>
	<!-- End #main -->
{% endblock %}
