{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="row">

    <div class="col text-center">
        <a class="btn btn-primary" href="{{path("admin_secu")}}">Ajouter</a>
        <a class="btn btn-primary" href="{{path("account_password")}}">Modifier mon mot de passe</a>
    </div>
</div>

<section class="album py-5 bg-light">
    <div class="container">
        <div class="row adminUser">
            {% for user in users %}
            <div class="col-md-4">
                <div class="card border-dark mb-3 mx-auto text-center" style="max-width: 18rem;">
                    <div class="card-header bg-card-user border-dark"> <h5>Utilisateur:</h5>
                        <h6>{{user.firstname}}</h6>
                        <h6>{{user.lastname}}</h6>
                        <h6>{{user.email}}</h6> 
                    </div>
                    <div class="card-body  text-center">
                        <h5 class="card-title ">Statut</h5>
                        <h6 class="card-text ">Auteur</h6>
                    </div>
                    <div class="card-footer bg-card-user border-dark">
                        <div class="text-center">
                            
                            <form method="POST" style="display:inline-block" action="">
                                
                                <input type="submit" class="btn btn-sm btn-danger" value="suppresion" >
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
