{% extends 'base.html.twig' %}

{% block title %}Reservation
{% endblock %}

{% block body %}
<!-- ======= Book A Table Section ======= -->
<main id="main">
  <section id="book-a-table" class="book-a-table m100">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Reservation</h2>
        <p>Réserver une table</p>
      </div>

      {{form_start(contactForm)}}
      <div class="row">
        <div class="col-lg-4 col-md-6 form-group">
          {{ form_row(contactForm.nom, { "label":"Nom"}) }}
        </div>
        <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
          {{ form_row(contactForm.email, { "label":"Email"}) }}
        </div>
        <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
          {{ form_row(contactForm.telephone, { "label":"Téléphone"}) }}
        </div>
      </div>
<div class="row">
      <div class="col-lg-4 col-md-6 form-group mt-3">
        {{ form_row(contactForm.date, { "label":"Jour de reservation"}) }}</div>
    
    <div class="col-lg-4 col-md-6 form-group mt-3">
      {{ form_row(contactForm.selection, { "label":"Service"}) }}</div>
    
    <div class="col-lg-4 col-md-6 form-group mt-3">
      {{ form_row(contactForm.personne, { "label":"Nbre de personne"}) }}</div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
           {{ form_row(contactForm.terrasse, { "label":"Cocher cette case si vous souhaitez être en terrasse."}) }}
        </div>
      </div>
    </div>
    
    <div class="form-group mt-3">
      {{ form_row(contactForm.message) }}
    </div>
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          {{ form_row(contactForm.valider, { "label":"En soumettant ce formulaire, j'accepte que les informations saisies soient exploitées dans le cadre de la demande de contact et de la relation commerciale qui peut en découler."}) }}
        </div>
      </div>
    </div>
    <div class="mb-3">
      {% for message in app.flashes('message') %}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
      {% endfor %}
    </div>
    <div class="text-center">
      <div class="mb-3">{{ form_row(contactForm.envoyer) }}
      </div>
    </div>
    {{form_end(contactForm)}}</div>
  </section><!-- End Book A Table Section -->
</main>{% endblock %}