{% extends 'base.html.twig' %}

{% block title %}Commande
{% endblock %}

{% block body %}
	<main
		id="main">
		<!-- ======= Menu Section ======= -->
		<section id="menu" class="menu section-bg m100">
			<div class="container" data-aos="fade-up">
				<div class="section-title">
					<h2>Commande</h2>
					<p>Je passe ma commande</p>
				</div>
				<div class="row">
					<div class="col-md-6">
						{% set formHtml %}
						{{ form_start(form, {action:path('order_recap')}) }}
						{{ form_end(form) }}
							{% endset %}

							{{ formHtml|replace({'[br]':'<br/>'})|raw }}

						</div>
						<div class="col-md-6">
							<b>Récapitulatif de ma commande</b><br>
							<div class="order-summary">
							{% for key,product in cart %}
								
								<div class="row mt-1 {% if key > 0 %}mt-2{% endif %} ">
									<div class="col-md-3">
									<img src="{{asset('uploads/' ~ product.product.image)}}" class="menu-img" alt="{{product.product.name}}">
									</div>
									<div class="col">
									{{ product.product.name }} <br/>
									<small>{{ product.product.description }}</small>
									</div>
									<div class="col-md-2">
									X {{ product.quantity }}
									</div>
								</div>
							{% endfor %}
							</div>
							
				
						</div>
					</div>
				</div>


			</section>
			<!-- End Menu Section -->
		</main>
	{% endblock %}
